body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.cabecalho{
    padding: 10px 0;
    text-align: center;
}
.contato h1{
    margin: 0;
    color: rgb(2, 2, 2);
    font-size: 35px;
    text-align: center;
}

.contato h2{
    font-size: 20px;
    color: rgb(53, 49, 49);
    margin-bottom: 20px;
    text-align: center;
}